<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  </head>

  <div class="drop-it-hot" id="drop-area">
    <div class="circle">
      <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
    </svg>
    </div>
    <form class="choose-files">
      <div class="button-wrapper">
            <label class="label" for="fileElem">Drag file here to upload or</label>
        <button type="button" class="btn">Choose file</button>
        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
      </div>
    </form>
    <div id="gallery"></div>
  </div>

  <div class="editor">
    <div class="range-wrapper">
      <label for="contrast">Contrast</label>
      <input class="range" name="contrast" value="100" type="range" min="0" max="200" value="0" data-unit="%">
    </div>
    <div class="range-wrapper">
      <label for="brightness">Brightness</label>
      <input class="range" name="brightness" value="100" type="range" min="0" max="200" data-unit="%">
    </div>
    <div class="range-wrapper">
      <label for="blur">Hue</label>
      <input class="range" name="hue-rotate" value="0" type="range" min="0" max="200" data-unit="deg">
    </div>
    <div class="range-wrapper">
      <label for="sepia">Sepia</label>
      <input class="range" name="sepia" value="0" type="range" min="0" max="200" data-unit="%">
    </div>
  </div>
</html>